<%= content_for(:title, 'Youth Training') %>

<% if current_user.role? :leader %>
    <div class="text-right">
      <%= link_to 'Log Training', new_scout_training_path, class: 'btn btn-warning ' %>
    </div>
<% end %>
<div class="row">
  <% @scout_trainings.group_by(&:youth_training).each do |training, scout_trainings| %>
      <div class="card col-sm-5 col-sm-offset-1">
        <div class="card-header" data-background-color="dkblue">
          <h4 class="text-center"><%= training.name %></h4>
        </div>
        <div class="card-content">
          <table class="table table-responsive">
            <% scout_trainings.each do |scout_training| %>
                <tr>
                  <td><%= link_to scout_training.scout.name, scout_training.scout %></td>
                  <td class="pull-right"><%= date_for_display(scout_training.completed_date) %></td>
                  <% if current_user.role? :leader %>
                      <td><%= link_to "<i class='material-icons'>delete</i>".html_safe, scout_training,
                                      method: :delete, data: {confirm: "Are you sure you wish to delete this record?"} %></td>
                  <% end %>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
  <% end %>
  <br>
</div>