<h1 class="center">Positions</h1>

<% if current_user.admin? %>
    <div class="text-right">
      <%= link_to 'Create New Position', new_position_path, class: 'btn btn-success ' %>
    </div>
<% end %>
<div class="card-columns">
  <% @positions.each do |position| %>
      <div class="card">
        <div class="card-header">
          <%= position.name %>
          <% if position.scouts.count == 0 %>
              <span class="tag tag-danger"><%= position.scouts.count %></span>
          <% else %>
              <span class="tag tag-success"><%= position.scouts.count %></span>
          <% end %>
          <% if current_user.admin? %>
              <span class="pull-right">
                <%= link_to "<i class='fa fa-pencil fa-sm'></i>".html_safe, edit_position_path(position) %>
                <%= link_to "<i class='fa fa-trash fa-sm'></i>".html_safe, position,
                            method: :delete, data: {confirm: 'Are you sure?'} %>
                </span>
          <% end %>
        </div>
        <div class="card-block">
          <p class="card-text">
            <% position.scouts.each do |scout| %>
                <%= link_to scout.name, scout %><br/>
            <% end %>
          </p>
        </div>
      </div>
  <% end %>
</div>
