<h2 class="center">Edit <%= resource_name.to_s.humanize %></h2>
<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(resource,
                 as: resource_name, :html => {class: 'form-horizontal'},
                 url: registration_path(resource_name),
                 html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :password %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: "leave blank if you don't want to change it" %>
            <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>

        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :password_confirmation %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :current_password %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :current_password, class: 'form-control', autocomplete: 'off' %>
            (we need your current password to confirm your changes)
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <%= f.submit 'Update', class: 'btn btn-primary btn-lg' %>
            <%= link_to 'Back', :back %>
          </div>
        </div>

    <% end %>
    <hr/>
    <div class="alert alert-danger center"> The actions below are DESTRUCTIVE and cannot be reversed</div>
    <div class="center">
      <%= link_to 'Cancel my account',
                  registration_path(resource_name),
                  data: {confirm: 'Are you sure?'}, method: :delete,
                  class: 'btn btn-danger btn-lg ' %>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>