<h1 align="center">Scout Requirements Index</h1>
<table class="table table-bordered">
  <thead>
  <th>Scout ID</th>
  <th>Scout Name</th>
  <th>Scout Rank</th>
  <th>Requirement ID</th>
  <th></th>
  </thead>
  <tbody>
<% @scout_requirements.each do |scout_requirement| %>
    <tr>
      <td><%= scout_requirement.scout_id %></td>
      <td><%= scout_requirement.scout.name %></td>
      <td><%= scout_requirement.scout.rank.name %></td>
      <td><%= scout_requirement.requirement_id %></td>
      <td><%= scout_requirement.sign_off%></td>
      <td><%= scout_requirement.completed_date%></td>
      <td>
        <%= link_to "<i class='fa fa-pencil fa-sm'></i>".html_safe, edit_scout_requirement_path(scout_requirement) %>
        <%= link_to "<i class='fa fa-trash fa-sm'></i>".html_safe, scout_requirement,
                    method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<%= link_to 'Create New', new_scout_requirement_path, class: 'btn btn-success ' %>

