<div class="card">
  <div class="card-header" data-background-color="dkblue">
    <h4>Article Listings</h4>
  </div>
  <div class="card-content">
    <table class="table table-responsive table-striped">
      <thead>
      <th>Article</th>
      <th>Author</th>
      <th>Categories</th>
      <th>Created</th>
      <th>Updated</th>
      </thead>
      <tbody>
      <% obj.each do |article| %>
          <tr>
            <td><%= link_to article.title, article_path(article) %></td>
            <td><%= article.user.username %></td>
            <td>
              <% if article.categories.any? %>
                  <% article.categories.each do |cat| %>
                      <span class="badge hvr-pulse-shrink">
                        <small><%= link_to cat.name, category_path(cat) %></small>
                      </span>
                  <% end %>
              <% end %>
            </td>
            <td><%= time_ago_in_words(article.created_at) %> ago</td>
            <td><%= time_ago_in_words(article.updated_at) %> ago</td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

