<div class="row">
  <% obj.each do |article| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header" data-background-color="dkblue">
            <h4><%= link_to article.title, article_path(article) %></h4>
          </div>
          <div class="card-content">
            <%= article.description.html_safe %>
          </div>

          <div class="card-footer small text-muted">
            <% if article.categories.any? %>
                Categories: <%= render article.categories %><br/>
            <% end %>
            <div class="row">
              <div class="col-sm-7">Created by: <%= article.user.username if article.user %></div>
              <div class="col-sm-7">Updated last: <%= distance_of_time_in_words_to_now(article.updated_at) %></div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>