<% obj.each do |article| %>

    <div class="row">
      <div class="col-xs-8 offset-xs-2">
        <div class="card">
          <div class="card-header">
            <%= link_to article.title, article_path(article) %>
          </div>
          <div class="card-text card-block">
            <%= truncate(article.description, length: 100) %>...
          </div>
          <div class="card-footer">
            <small>Created by: <%= article.user.username if article.user %>,
              <%= time_ago_in_words(article.created_at) %> ago,
              last updated: <%= time_ago_in_words(article.updated_at) %> ago
            </small>
          </div>

          <div class="card-block center">
            <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-sm btn-primary" %>
            <%= link_to "Delete this article", article_path(article), method: :delete,
                        data: {confirm: "Are you sure you want to delete the article?"},
                        class: "btn btn-sm btn-danger" %>
          </div>
        </div>
      </div>
    </div>
<% end %>