<div class="col-xs-10 offset-xs-1">
  <div class="card">
    <h3 class="card-header center">Title: <%= @article.title %></h3>
    <div class="card-block">
      <h4 class="card-title">Description:</h4>
      <p class="card-text">
        <%= simple_format(@article.description) %>
      </p>
      <div class="article-actions">
        <%= link_to 'Edit this article', edit_article_path(@article), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Delete this article', article_path(@article), method: :delete,
                    data: {confirm: 'Are you sure you want to delete the article?'},
                    class: 'btn btn-sm btn-danger' %>
        <%= link_to 'View all articles', articles_path, class: 'btn btn-sm btn-success' %>
      </div>
    </div>
  </div>
</div>