<div class="col-xs-10 offset-xs-1">
  <div class="card">
    <h3 class="card-header center"><%= @article.title %></h3>
    <div class="card-block">
      <p class="card-text">
        <%= simple_format(@article.description) %>
      </p>
    </div>
    <div class="card-footer small">
      Created: <%= distance_of_time_in_words_to_now(@article.created_at) %> ago<br/>
      Updated last: <%= distance_of_time_in_words_to_now(@article.updated_at) %> ago
    </div>
  </div>
  <div class="article-actions center">
    <% if @article.user == current_user %>
        <%= link_to 'Edit this article', edit_article_path(@article), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Delete this article', article_path(@article), method: :delete,
                    data: {confirm: 'Are you sure you want to delete the article?'},
                    class: 'btn btn-sm btn-danger' %>
    <% end %>
    <%= link_to 'View all articles', articles_path, class: 'btn btn-sm btn-success' %>
  </div>
</div>