<%= form_for(@adult, :html => {class: 'form-horizontal', id: 'adult', role: 'form'}) do |f| %>
    <%= render 'shared/errors', obj: @adult %>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :name %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name of person', autofocus: true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :email %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email addresss', autofocus: true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :sex %>
      </div>
      <div class="col-sm-8">
        <%= f.select :sex, options_for_select(Adult.sexes.map { |key, value| [key.humanize.titlecase, key] }, @adult.sex),
                     {:include_blank => 'Please select a sex'}, {:class => 'form-control'} %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :phone %>
      </div>
      <div class="col-sm-4">
        <%= f.telephone_field :phone, class: 'form-control' %>
      </div>

      <div class="control-label col-sm-2">
        <%= f.label :dob %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :dob, class: 'form-control datetimepickeryear',
                         data: {date: @adult.dob, date_format: 'YYYY-MM-DD'} %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label 'BSA ID' %>
      </div>
      <div class="col-sm-4">
        <%= f.number_field :bsa_id, class: 'form-control' %>
      </div>
      <div class="control-label col-sm-2">
        <%= f.label :drivers_license %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :drivers_license, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :joined %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :joined, class: 'form-control datetimepickeryear',
                         data: {date: @adult.joined, date_format: 'YYYY-MM-DD'} %>
      </div>
    </div>
    <% if (current_user.role? :admin) %>
        <div class="alert-danger">
          <div class="form-group row">
            <div class="control-label col-sm-3 ">
              <%= f.label 'Link to Account' %>
            </div>
            <div class="col-sm-8">
              <%= f.select :user_id,
                           options_for_select(User.all.map { |u| [u.username, u.id] },
                                              @adult.user_id),
                           {prompt: 'None'},
                           class: 'form-control' %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="form-group row">
      <div class="col-sm-offset-4 col-sm-10">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', adults_path, class: 'btn btn-secondary' %>
      </div>
    </div>
<% end %>
<script>
    $(document).ready(function () {
        $("#adult").validate({
            rules: {
                "adult[name]": {
                    required: true,
                    rangelength: [5, 50]
                },
                "adult[email]": {
                    required: true,
                    email: true
                }
            },
            errorPlacement: function (error, element) {
                $(element).parent('div').parent('div').addClass('has-error');
                $(element).after(error);
            }
        });
    });
</script>