<%= content_for(:title, 'Adults involved with the Troop') %>
<div class="col-xs-12">
  <div class="card">
    <div class="card-header" data-background-color="dkblue">
      <h4 class="card-title">Troop Adults
        <span class="pull-right">
        <%= link_to '<i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" title="Create New Adult"></i>'.html_safe, new_adult_path %>
          </span>
      </h4>
    </div>
    <div class="card-content">
      <table class="table table-responsive table-striped">
        <thead>
        <th></th>
        <th>Name</th>
        <th class="hidden-xs">Address</th>
        <th class="hidden-xs">Email</th>
        <th>Phone</th>
        <th></th>
        </thead>
        <tbody>
        <% @adults.each do |adult| %>
            <% unless adult.inactive? %>
                <tr>
                  <td>
                    <%= '<i class="fa fa-exclamation-triangle text-danger" data-toggle="tooltip" title="YPT Expired" aria-hidden="true"></i>'.html_safe if adult.ypt_expired? %>
                    <%= link_to '<i class="fa fa-link" aria-hidden="true"></i>'.html_safe,
                                admin_user_path(adult.user) unless adult.user.blank? %>
                  </td>
                  <td><%= link_to adult.name, adult_path(adult) %></td>
                  <td class="hidden-xs"><%= adult.address.full unless adult.address.blank? %></td>
                  <td class="hidden-xs"><%= adult.email %></td>
                  <td><%= number_to_phone(adult.phone) %></td>
                  <td>
                    <%= link_to '<i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit Adult"></i>'.html_safe,
                                edit_adult_path(adult) %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>