<%= content_for(:title, 'Adult Record') %>
<div class="card col-sm-10 col-sm-offset-1">
  <div class="row">
    <div class="card-header" data-background-color="dkblue">
      <h4><%= @adult.name %></h4>
    </div>
    <div class="card-content">
      <table class="table table-responsive">
        <tr>
          <td class="text-primary bold">Email:</td>
          <td><%= @adult.email %></td>
          <td class="text-primary bold">Phone:</td>
          <td><%= number_to_phone(@adult.phone) %></td>
          <td class="text-primary bold">BSA ID:</td>
          <td><%= @adult.bsa_id %></td>
        </tr>
        <tr>
          <td class="text-primary bold">DOB:</td>
          <td><%= date_for_display(@adult.dob) %></td>
          <td class="text-primary bold">Drivers License:</td>
          <td><%= @adult.drivers_license %></td>
          <td class="text-primary bold">Joined:</td>
          <td><%= date_for_display(@adult.joined) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card col-sm-12">
    <div class="row">
      <div class="card-header" data-background-color="dkblue">
        <h5>Positions Held
          <span class="pull-right"><%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_adult_position_path(adult_id: @adult.id) %></span>
        </h5>
      </div>
      <div class="card-content">
        <table class="table table-responsive table-striped">
          <% unless @adult.adult_positions.blank? %>
              <thead>
              <th>Positon</th>
              <th>Dates Served</th>
              <th>Days in Position</th>
              </thead>
          <% end %>
          <% @adult.adult_positions.each do |adult_position| %>
              <tr>
                <td><%= adult_position.position.name %></td>
                <% if adult_position.end_date.blank? %>
                    <td><%= date_for_display(adult_position.start_date) %></td>
                <% else %>
                    <td><%= date_for_display(adult_position.start_date) %>
                      - <%= date_for_display(adult_position.end_date) %></td>
                <% end %>
                <td><%= days_between(adult_position.start_date, adult_position.end_date) %> Days</td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="card col-sm-12">
    <div class="row">
      <div class="card-header" data-background-color="dkblue">
        <h5>Trainings Taken
          <span class="pull-right"><%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_adult_training_path(adult_id: @adult.id) %></span>
        </h5>
      </div>
      <div class="card-content">
        <table class="table table-responsive table-striped">
          <% unless @adult.adult_trainings.blank? %>
              <thead>
              <th>Course Name</th>
              <th>Date Completed</th>
              </thead>
          <% end %>
          <% @adult.adult_trainings.each do |adult_training| %>
              <tr>
                <td><%= adult_training.adult_training_course.name %></td>
                <td><%= date_for_display(adult_training.completed_date) %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="card col-sm-12">
    <div class="row">
      <div class="card-header" data-background-color="dkblue">
        <h5>Vehicles
          <span class="pull-right"><%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_adult_vehicle_path(adult_id: @adult.id) %></span>
        </h5>
      </div>
      <div class="card-content">
        <table class="table table-responsive table-striped">
          <% unless @adult.vehicles.blank? %>
              <thead>
              <th></th>
              <th>Vehicle</th>
              <th># of Seat Belts</th>
              <th>License Plate</th>
              </thead>
          <% end %>
          <% @adult.vehicles.each do |vehicle| %>
              <tr>
                <td><%= '<i class="fa fa-truck" aria-hidden="true"></i>'.html_safe if vehicle.hitch %></td>
                <td><%= vehicle.name %></td>
                <td><%= vehicle.belts %></td>
                <td><%= vehicle.plate %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
