<%= form_for(@notification, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
    <%= render 'shared/errors', obj: @notification %>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :text %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :text, class: 'form-control', placeholder: 'Title of notification', autofocus: true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :link %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :link, class: 'form-control', placeholder: 'Link to'%>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :active %>
      </div>
      <div class="col-sm-8 ">
        <%= f.check_box :active, class: 'form-control ' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :display_until %>
      </div>
      <div class="col-sm-8 ">
        <%= f.date_select :display_until, class: 'form-control', :default =>  2.days.from_now %>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', notifications_path, class: 'btn btn-secondary' %>
      </div>
    </div>
<% end %>
