<%
  #@scout_merit_badge = ScoutMeritBadge.where(scout_id: @scout.id)
  earned_eagle_mb= {}
  earned_mb = {}
  @scout_merit_badge.each do |smb|
    if (earned_eagle_mb.key?('Swimming') && (smb.merit_badge.name == 'Hiking' || smb.merit_badge.name == 'Cycling')) ||
        (earned_eagle_mb.key?('Hiking') && (smb.merit_badge.name == 'Swimming' || smb.merit_badge.name == 'Cycling')) ||
        (earned_eagle_mb.key?('Cycling') && (smb.merit_badge.name == 'Hiking' || smb.merit_badge.name == 'Swimming')) ||
        (earned_eagle_mb.key?('Emergency Preparedness') && smb.merit_badge.name == 'Life Saving') ||
        (earned_eagle_mb.key?('Life Saving') && smb.merit_badge.name == 'Emergency Preparedness') ||
        (earned_eagle_mb.key?('Environmental Science') && smb.merit_badge.name == 'Sustainability') ||
        (earned_eagle_mb.key?('Sustainability') && smb.merit_badge.name == 'Environmental Science')

      earned_mb[smb.merit_badge.name] = smb.completed
    else
      earned_eagle_mb[smb.merit_badge.name] = smb.completed if smb.merit_badge.eagle_required
    end
    earned_mb[smb.merit_badge.name] = smb.completed unless smb.merit_badge.eagle_required
  end
%>
<% if current_user.role? :leader_full %>
    <div class="row text-right">
      <%= link_to 'Log new MB', new_scout_merit_badge_path(scout_id: @scout_merit_badge.first.scout_id), class: 'btn btn-warning ' %>
    </div>
<% end %>
<div class="col-md-6">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="dkblue">
      <img src="<%= image_url('ranks/Star.png') %>" class="img-card-rank">
    </div>
    <div class="card-content">
      <div class="card-title">Star</div>
      <table class="table">
        <tbody>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[0] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[0]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[1] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[1]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[2] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[2]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[3] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[3]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[0] %></td>
          <td><%= date_for_display(earned_mb.values[0]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[1] %></td>
          <td><%= date_for_display(earned_mb.values[1]) %></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="dkblue">
      <img src="<%= image_url('ranks/Life.png') %>" class="img-card-rank">
    </div>
    <div class="card-content">
      <h4 class="card-title">Life</h4>
      <table class="table">
        <tbody>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[4] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[4]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[5] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[5]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[6] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[6]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[2] %></td>
          <td><%= date_for_display(earned_mb.values[2]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[3] %></td>
          <td><%= date_for_display(earned_mb.values[3]) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row"></div>
<div class="col-md-6">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="dkblue">
      <img src="<%= image_url('ranks/Eagle.png') %>" class="img-card-rank">
    </div>
    <div class="card-content">
      <h4 class="card-title">Eagle</h4>
      <table class="table">
        <tbody>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[7] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[7]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[8] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[8]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[9] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[9]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[10] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[10]) %></td>
        </tr>
        <tr>
          <td>Eagle Required</td>
          <td><%= earned_eagle_mb.keys[11] %></td>
          <td><%= date_for_display(earned_eagle_mb.values[11]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[4] %></td>
          <td><%= date_for_display(earned_mb.values[4]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[5] %></td>
          <td><%= date_for_display(earned_mb.values[5]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[6] %></td>
          <td><%= date_for_display(earned_mb.values[6]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[7] %></td>
          <td><%= date_for_display(earned_mb.values[7]) %></td>
        </tr>
        <tr>
          <td>Elective</td>
          <td><%= earned_mb.keys[8] %></td>
          <td><%= date_for_display(earned_mb.values[8]) %></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="dkblue">
      <img src="<%= image_url('ranks/Just Joined.png') %>" class="img-card-rank">
    </div>
    <div class="card-content">
      <h4 class="card-title">Additional Merit Badges</h4>
      <table class="table">
        <tbody>
        <tr>
          <td>Need to build this out</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row"></div>

<div class="card col-sm-8 col-sm-offset-2">
  <div class="card-title" data-background-color="dkblue">
    <h4>Listing of all Merit Badges Earned</h4>
  </div>
  <div class="card-content">
    <table class="table table-responsive table-striped">
      <tbody>
      <% @scout_merit_badge.each do |smb| %>
          <% if smb.merit_badge.eagle_required %>
              <tr class='success'>
          <% else %>
              <tr>
          <% end %>
          <td><%= smb.merit_badge.name %></td>
          <td><%= date_for_display(smb.completed) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
