<%= content_for(:title, 'Edit Merit Badge Completion') %>
<%= form_for(@scout_merit_badge, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
  <%= render 'shared/errors', obj: @scout_merit_badge %>

  <%= f.hidden_field :scout_id , value: @scout_merit_badge.scout_id%>
  <%= f.hidden_field :merit_badge_id , value: @scout_merit_badge.merit_badge_id%>

  <div class="form-group row">
    <div class="control-label col-sm-4 col-sm-offset-1 ">
      <%= f.label :completed , class: 'input-lg'%>
    </div>
    <div class=" ">
        <%= f.text_field :completed, class: 'form-control datetimepicker input-lg', data: {date: @scout_merit_badge.completed, date_format: 'YYYY-MM-DD'} %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-5 col-sm-offset-3">
      <%= f.submit 'Update', class: 'btn btn-success' %>
      <%= link_to 'Cancel', :back, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>