<%= content_for(:title, 'Event Attendance - 60 day window') %>
<div class="col-sm-8 col-sm-offset-1">
  <table class="table table-striped table-inverse">
    <thead>
    <tr>
      <th>Scout</th>
      <th>Event</th>
      <th>Date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>

    <% @scout_events.each do |scout_event| %>
        <tr>
          <td><%= scout_event.scout.name %></td>
          <td><%= scout_event.event.title %></td>
          <td><%= datetime_for_display(scout_event.event.start) %></td>
          <td><%= scout_event.notes %></td>
          <td><%= link_to 'Show', scout_event %></td>
          <td><%= link_to 'Edit', edit_scout_event_path(scout_event) %></td>
          <td><%= link_to 'Destroy', scout_event, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Scout Event', new_scout_event_path %>
