
<div class="row col-sm-9 col-sm-offset-1 text-center">
  <div class="card">
    <div class="card-header" data-background-color="green">
      <h2 class="title"><%= @scout_rank_history.scout.name %> - <%= @scout_rank_history.rank.name %></h2>
    </div>
    <div class="card-content">
      <%= form_for(@scout_rank_history, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
          <%= render 'shared/errors', obj: @scout_rank_history %>

          <%= f.hidden_field :scout_id , value: @scout_rank_history.scout_id%>
          <%= f.hidden_field :rank_id , value: @scout_rank_history.rank_id%>

          <div class="form-group row">
            <div class="control-label col-sm-4 col-sm-offset-1 ">
              <%= f.label :rank_completed , class: 'input-lg'%>
            </div>
            <div class="col-sm-4 ">
              <% if @scout_rank_history.rank_completed == Date.parse('1/1/1111') %>
                  <%= f.date_field :rank_completed, class: 'form-control input-lg', :value => Date.today %>
              <% else %>
                  <%= f.date_field :rank_completed, class: 'form-control input-lg' %>
              <% end %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-5 col-sm-offset-3">
              <%= f.submit 'Update', class: 'btn btn-success' %>
              <%= link_to 'Cancel', :back, class: 'btn btn-secondary' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


