<div class="row">
  <div class="col-sm-12">
    <%= form_for(@scout_rank_history, remote: true, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
        <%= render 'shared/errors', obj: @scout_rank_history %>

        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :scout_id %>
          </div>
          <div class="col-sm-8">
            <%= f.select :scout_id, options_for_select(Scout.all.map { |s| [s.name, s.id] },
                                                       @scout_rank_history.scout_id), {},
                         class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :rank_id %>
          </div>
          <div class="col-sm-8">
            <%= f.select :rank_id, options_for_select(Rank.all.map { |r| [r.name, r.id] },
                                                      @scout_rank_history.rank_id),
                         {}, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :rank_completed %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :rank_completed, class: 'form-control datetimepicker', data: {date: @scout_rank_history.rank_completed, date_format: 'YYYY-MM-DD'} %>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <%= f.submit class: 'btn btn-primary' %>
            <%= link_to 'Cancel', scout_requirements_path, class: 'btn btn-secondary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
