<%= content_for(:title, 'Event' + @event.title.titlecase) %>


<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allDay %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>External link:</strong>
  <%= @event.external_link %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
