<div class="row">
  <div class="col-sm-12">
    <%= form_for(rank, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
        <%= render 'shared/errors', obj: rank %>

        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :name %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Rank Name', autofocus: true %>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <%= f.submit class: 'btn btn-primary' %>
            <%= link_to 'Cancel', ranks_path, class: 'btn btn-secondary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>