<%= form_for(scout, :html => {class: 'form-horizontal', id: :scout, role: 'form'}) do |f| %>
    <%= render 'shared/errors', obj: scout %>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :name %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Scout Name', autofocus: true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :email %>
      </div>
      <div class="col-sm-8">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :phone %>
      </div>
      <div class="col-sm-3">
        <%= f.telephone_field :phone, class: 'form-control' %>
      </div>

      <div class="control-label col-sm-2">
        <%= f.label :grade %>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :grade, class: 'form-control', in: 5..12 %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :joined %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :joined, class: 'form-control datetimepicker', data: {date: scout.joined, date_format: 'YYYY-MM-DD'} %>
      </div>

      <div class="control-label col-sm-2">
        <%= f.label 'BSA ID' %>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :bsa_id, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :birthdate %>
      </div>
      <div class="col-sm-3">
        <%= f.text_field :birthdate, class: 'form-control datetimepickeryear', data: {date: scout.birthdate, date_format: 'YYYY-MM-DD'} %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :rank_id %>
      </div>
      <div class="col-sm-3">
        <%= f.select :rank_id, options_for_select(Rank.all.map { |r| [r.name, r.id] }, scout.rank_id), {}, class: 'form-control' %>

      </div>

      <div class="control-label col-sm-2">
        <%= f.label :patrol_id %>
      </div>
      <div class="col-sm-3">
        <%= f.select :patrol_id, options_for_select(Patrol.all.map { |p| [p.name, p.id] }, scout.patrol_id), {}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="togglebutton col-sm-6 col-sm-offset-4">
        <label>
          <%= f.check_box :active %>
          Active
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn btn-secondary' %>
      </div>
    </div>
<% end %>
<script>
    $(document).ready(function () {
        $("#scout").validate({
            rules: {
                "scout[name]": {
                    required: true,
                    rangelength: [3, 250]
                },
                "scout[email]": {email: true},
                "scout[grade]": {range: [5,12]}
            },
            errorPlacement: function (error, element) {
                $(element).parent('div').parent('div').addClass('has-error');
                $(element).after(error);
            }
        });
    });
</script>


