<div id="accordion" role="tablist" aria-multiselectable="true">
  <% obj.each do |scout| %>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo<%= scout.id %>" data-background-color="dkblue">
          <h4 class="title">
              <%= link_to scout.name, scout_path(scout), class: 'hvr-push' %>
            <% unless scout.active %>
                <small>(inactive)</small>
            <% end %>
            <span class="pull-right">
              <% if current_user.role? :admin %>
                  <%= link_to "<i class='material-icons' data-toggle='tooltip' title='Delete Scout'>delete</i>".html_safe, scout,
                              method: :delete, data: {confirm: "Are you sure you wish to delete #{scout.name}?"} %>
             <% end %>
            </span>
          </h4>
        </div>
        <div id="collapseTwo<%= scout.id %>" class="collapse in" role="tabpanel" aria-labelledby="headingTwo<%= scout.id %>">
          <%= render 'scout_card_detail', obj: scout %>
        </div>
      </div>
  <% end %>
</div>