<%= content_for(:title, 'Scout Listing') %>
<div class="text-right col-md-4 col-md-offset-8" id="scout_view">
  <% if current_user.role? :leader %>
      <%= link_to 'Create New Scout', new_scout_path, class: 'btn btn-warning btn-round btn-xs' %>
  <% end %>
  <%= link_to 'Compact View', '#', class: 'btn btn-primary btn-xs btn-round view-toggle' %>
</div>
<div id="compact_view">
  <div class="tw_pagination"><%= will_paginate %></div>
  <%= render 'scouts/compact_view', obj: @scouts %>
  <div class="tw_pagination"><%= will_paginate %></div>
</div>
<div id="expanded_view">
  <%= render 'scout', obj: @scouts %>
  <div class="tw_pagination"><%= will_paginate %></div>
</div>
<small>Export to:
</small> <%= link_to '<i class="fa fa-file-excel-o" aria-hidden="true"></i>'.html_safe, scouts_path({:format => :csv}) %>




