<h1 class="center">Scouts</h1>
<% if current_user.admin? %>
    <div class="text-right">
      <%= link_to 'Create New Scout', new_scout_path, class: 'btn btn-success ' %>
    </div>
<% end %>
<div class="tw_pagination"><%= will_paginate %></div>
<%= render 'scout', obj: @scouts %>
<div class="tw_pagination"><%= will_paginate %></div>

<small>Export to:</small> <%= link_to '<i class="fa fa-file-excel-o" aria-hidden="true"></i>'.html_safe, scouts_path({:format => :csv})%>




