<div class="col-xs-10 offset-xs-1">
  <div class="card">
    <h3 class="card-header center"><%= @scout.name %></h3>

    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-4">
              <strong>Grade: </strong><%= @scout.grade %>th
            </div>
            <div class="col-xs-4 center">
              <strong>Age: </strong><%= @scout.age(@scout.birthdate) %> years old
            </div>
            <div class="col-xs-4 text-right" >
              <strong>BirthDate: </strong><%= l @scout.birthdate %>
            </div>
          </div>
        </li>
        <div class="row">
          <div class="col-xs-2 center">
            <%= image_tag("/assets/#{@scout.rank.name}.jpg", height: 100) %>
          </div>
          <div class="col-xs-9">
            <li class="list-group-item">
              <strong>Patrol: </strong><%= @scout.patrol.name %>
            </li>
            <li class="list-group-item"><strong>Position: </strong><%= @scout.position.name %></li>
          </div>
        </div>
      </ul>
    </div>

  </div>
  <div class="center">
    <%= link_to 'Edit this scout', edit_scout_path(@scout), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete this scout', scout_path(@scout), method: :delete,
                data: {confirm: 'Are you sure you want to delete the scout?'},
                class: 'btn btn-sm btn-danger' %>
    <%= link_to 'View all scouts', scouts_path, class: 'btn btn-sm btn-success' %>
  </div>
</div>