<!-- Alert Section -->
<% if (@event.adult_events.count < 2) || !(@event.enough_transportation?) %>
    <div class="card col-xs-10 col-xs-offset-1">
      <div class="card-header" data-background-color="red">
        <h4 class="card-title">Warning</h4>
      </div>
      <div class="card-content">
        <%= '<i class="fa fa-exclamation-triangle fa-fw text-danger" aria-hidden="true"></i> Not enough registered Adults<br/>'.html_safe if @event.adult_events.count < 2 %>
        <%= "<i class='fa fa-exclamation-triangle fa-fw text-danger' aria-hidden='true'></i> Not enough drivers, still need transportation for #{@event.scouts_without_seatbelts} people.<br/>".html_safe if !@event.enough_transportation? %>
        <% @event.adult_events.each do |adult_event| %>
        <%= "<i class='fa fa-exclamation-triangle fa-fw text-danger' aria-hidden='true'></i> YPT Expired for #{adult_event.adult.name}".html_safe if adult_event.adult.ypt_expired? %><br/>
        <% end %>
      </div>
    </div>

<% end %>
<div class="card col-sm-5 col-sm-offset-1">
  <div class="card-header" data-background-color="dkblue">
    <h4 class="card-title">Scouts Registered
      <span class="label label-success"><%= @event.scout_events.where(registered: true).count %></span>
      <span class="pull-right">
        <%= link_to '<i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" title="Register Scout for this Event"></i>'.html_safe,
                    new_scout_event_path(event_id: @event.id, registered: true) if current_user.role?(:leader) %>
          </span></h4>
  </div>
  <div class="card-content">
    <ol class="list-group">
      <% @event.scout_events.order("updated_at asc").each do |scout_event| %>
          <% if scout_event.registered? %>
              <li class="list-group-item">
                <%= link_to scout_event.scout.name, scout_event.scout %>
                <span class="pull-right">
                    <%= link_to '<i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" title="Unregister this Scout"></i>'.html_safe, scout_event_path(scout_event), method: :delete,
                                data: {confirm: 'Are you sure you want to unregister for this event?'},
                                class: 'text-danger' if current_user.role? :leader_full %>
                </span>
              </li>
          <% end %>
      <% end %>
    </ol>
  </div>
</div>

<div class="card col-sm-4 col-sm-offset-1">
  <div class="card-header" data-background-color="dkblue">
    <h4 class="card-title">Adults Registered
      <span class="label label-success"><%= @event.adult_events.count %></span>
      <span class="pull-right">
        <%= link_to '<i class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" title="Register Adult for this Event"></i>'.html_safe,
                    new_adult_event_path(event_id: @event.id, registered: true) if current_user.role?(:leader) %>
          </span></h4>
  </div>
  <div class="card-content">
    <ul class="list-group">
      <% @event.adult_events.order("updated_at asc").each do |adult_event| %>
          <% if adult_event.registered? %>
              <li class="list-group-item">
                <%= '<i class="fa fa-exclamation-triangle fa-fw text-danger" date-toggle="tooltip"
                title="YPT Expired" aria-hidden="true"></i>'.html_safe if adult_event.adult.ypt_expired? %>
                <span class="label label-dkblue "><%= adult_event.seatbelts %></span>
                <%= '<i class="fa fa-car fa-fw" aria-hidden="true"></i>'.html_safe if adult_event.driver %>
                <%= link_to adult_event.adult.name, adult_event.adult %>
                <span class="pull-right">
                    <%= link_to '<i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" title="Unregister this Adult"></i>'.html_safe, adult_event_path(adult_event), method: :delete,
                                data: {confirm: 'Are you sure you want to unregister for this event?'},
                                class: 'text-danger' if current_user.role? :leader_full %>
                </span>
              </li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
