
  <div class="container">
    <div class="section" id="carousel">
      <div class="container">
        <h2 class="text-center">Recent Photos</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <!-- Carousel Card -->
            <div class="card card-raised card-carousel">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel slide" data-ride="carousel">

                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item">
                      <img src="<%= image_url('public/westpoint.JPG') %>" alt="Westpoint">
                      <div class="carousel-caption">
                        <h4><i class="material-icons">location_on</i> Westpoint Invitational Camporee</h4>
                      </div>
                    </div>
                    <div class="item">
                      <img src="<%= image_url('public/battleshipcove.jpg') %>" alt="Battleship Cove">
                      <div class="carousel-caption">
                        <h4><i class="material-icons">location_on</i> BattleShip Cove, Massachusetts</h4>
                      </div>
                    </div>
                    <div class="item active">
                      <img src="<%= image_url('public/highadventure1.jpg') %>" alt="Northern Tier National High Adventure">
                      <div class="carousel-caption">
                        <h4><i class="material-icons">location_on</i> Northern Tier National High Adventure, Minnesota
                        </h4>
                      </div>
                    </div>
                    <div class="item">
                      <img src="<%= image_url('public/veterans_day.JPG') %>" alt="Veteran's Day at Bartlett Pond ">
                      <div class="carousel-caption">
                        <h4><i class="material-icons">location_on</i> Bartlett Pond, Middle Island</h4>
                      </div>
                    </div>
                    <div class="item">
                      <img src="<%= image_url('public/yawgoog.jpg') %>" alt="Yawgoog Scout Camp">
                      <div class="carousel-caption">
                        <h4><i class="material-icons">location_on</i> Yawgoog Scout Campe, Rhode Island</h4>
                      </div>
                    </div>
                  </div>


                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                  </a>
                </div>
              </div>
            </div>
            <!-- End Carousel Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>