<%= form_for(@adult_event) do |f| %>
    <% if @adult_event.errors.any? %>
        <%= render 'shared/errors', obj: @adult_event %>
    <% end %>
    <% if params[:adult_id] %>
        <%= f.hidden_field :adult_id, value: params[:adult_id] %>
    <% else %>
        <div class="form-group row">
          <div class="control-label col-sm-2">
            <%= f.label :adult_id %>
          </div>
          <div class="col-sm-8">
            <%= f.select :adult_id, options_for_select(Adult.where(inactive: false).map { |se| [se.name, se.id] },
                                                       @adult_event.adult_id),
                         {:include_blank => 'Please select a Adult'}, {:class => 'form-control'} %>
          </div>
        </div>
    <% end %>
    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :event_id %>
      </div>
      <div class="col-sm-8">
        <%= f.select :event_id,
                     options_for_select(Event.events_in_year_window.map { |e|
                       ["#{e.title} - #{datetime_for_display(e.start)}", e.id]
                     }, @adult_event.event_id),
                     {:include_blank => 'Please select a event'}, {:class => 'form-control'} %>
      </div>
    </div>

    <div class="form-group row">
      <div class="control-label col-sm-2">
        <%= f.label :notes %>
      </div>
      <div class="col-sm-8">
        <%= f.text_area :notes, placeholder: 'Enter any notes you have', rows: 3, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', adult_path(params[:adult_id]), class: 'btn btn-secondary' %>
      </div>
    </div>
<% end %>
