<%= content_for(:title, 'Vehicles') %>
<div class="col-sm-10 col-sm-offset-1">
  <div class="card">
    <div class="card-header" data-background-color="dkblue">
      <h4 class="card-title">Vehicles
        <span class="pull-right">
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_vehicle_path %>
          </span>
      </h4>
    </div>
    <div class="card-content">
      <table class="table table-responsive table-striped">
        <thead>
        <th></th>
        <th>Name</th>
        <th># of Seatbelts</th>
        <th>License Plate</th>
        <th></th>
        </thead>
        <tbody>
        <% @vehicles.each do |vehicle| %>
            <tr>
              <td><%= '<i class="fa fa-truck" aria-hidden="true"></i>'.html_safe if vehicle.hitch %></td>
              <td><%= vehicle.name %></td>
              <td><%= vehicle.belts %></td>
              <td><%= vehicle.plate %></td>
              <td>
                <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe,
                            edit_vehicle_path(vehicle) %>
                <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, vehicles_path,
                            method: :delete, data: {confirm: 'Are you sure you wish to delete this vehicle?'} %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>