<%= form_for(@category, remote: true, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
    <%= render 'shared/errors', obj: @category %>

    <div class="form-group row">
      <div class="control-label col-sm-2 label-floating">
        <%= f.label :name %>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Category Name', autofocus: true %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-4 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#new_category").validate({
                rules: {
                    "category[name]": {
                        required: true,
                        rangelength: [3,15],
                        remote: '/categories/check_category'
                    }
                },
                messages: {
                    "category[name]": {
                        required: 'Please specify a category name.',
                        remote: jQuery.validator.format("{0} is already in use.")
                    }
                },
                errorPlacement: function (error, element) {
                    $(element).parent('div').parent('div').addClass('has-error');
                    $(element).after(error);
                }
            });
        });
    </script>
<% end %>
