<body class="landing-page">
<%= render 'public/partials/navbar' %>
<div class="wrapper">
  <%= render 'public/partials/header' %>
  <div class="main main-raised">
    <div class="container">
      <div class="section" id="join_us">
        <div class="col-md-6">
          <div class="card">
            <h3 class="header header-primary">&nbsp;&nbsp;Join Our Troop!</h3>
            <div class="content">
              Troop <%= Rails.application.config.troop %> is a scout led troop. This means that the scouts decide on the outings that interest them the
              most. They vote on it and with the guidance and support of trained adult leaders, plan and lead these
              events. Scout leaders make sure that each scout takes on different roles. Everything from leadership
              responsibility to cooperative team building is encouraged and taught. Never tried it before? No problem,
              you’ll be learning new skills while you’re having fun. And these are skills you can use for a lifetime.
              Plus, think on this. When Monday morning rolls around, you get to say, “I hiked and fished this weekend. I
              explored an amazing cave and learned rock climbing. I tried skiing and snowboarding and it was great.”
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <h3 class="header header-primary">&nbsp;&nbsp;Troop Meetings</h3>
            <div class="content col-md-4">
              Monday nights 7:30pm – 9pm<br/>
              We meet every Monday evening while school is in session<br/>
              Middle Island Fire Department<br/>
              Arnold Drive, Middle Island NY<br/>
            </div>
            <div class="col-md-8">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.69918390258!2d-72.96957274948741!3d40.878475335250364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e84474e6a72f7b%3A0x2d72f1eae63e309d!2sMiddle+Island+Fire+Department!5e0!3m2!1sen!2sus!4v1481971873241"
                      width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <h3 class="header header-primary">&nbsp;&nbsp;Where does your trail lead?</h3>
            <div class="content">
              Your adventure starts here with Boy Scouts. Picture yourself open tent camping below a million visible
              stars
              or backpacking through a towering pine forest. Can you see yourself caving above a stalagmite filled
              cavern
              or
              horseback riding through a sandy limestone valley? Have you ever thought of canoeing on a crystal clear
              lake,
              or whitewater rafting in a trout-filled river? With Boy Scout Troop <%= Rails.application.config.troop %>, we don’t just talk about
              adventure,
              we make it happen.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <h3 class="header header-primary">&nbsp;&nbsp;How do I join Troop <%= Rails.application.config.troop %>?</h3>
            <div class="content">
              <table class="table">
                <tr>
                  <td width="25%" class="text-primary">Age to Join</td>
                  <td width="5%"></td>
                  <td>11 Years or older - or - 10 1/2 and completed 5th Grade or earned Arrow of Light</td>
                </tr>
                <tr>
                  <td class="text-primary">Scoutmaster Conference</td>
                  <td></td>
                  <td>​Each boy wishing to join the troop will participate in a conference with the Scoutmaster. At
                    least
                    one parent or guardian must attend this conference.
                  </td>
                </tr>
                <tr>
                  <td class="text-primary">​Application Form</td>
                  <td></td>
                  <td>A New Youth Application: Application must be filled out and signed by the boy and parent.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <h3 class="header header-primary">&nbsp;&nbsp;Where we have been</h3>
            <div class="content">
              Here are some of fun outings we’ve enjoyed over the past couple of years.
              <ul class="list-group">
                <li class="list-group-item">Northern Tier High Adventure Base, Minnesota</li>
                <li class="list-group-item">Chilkoot High Adventure Base, Alaska</li>
                <li class="list-group-item">Florida Sea Base High Adventure Base, Florida</li>
                <li class="list-group-item">Summit Scout Reservation, West Virgina</li>
                <li class="list-group-item">Boston, Massachusetts</li>
                <li class="list-group-item">Battleship Cove, Massachusetts</li>
                <li class="list-group-item">Washington D.C.</li>
                <li class="list-group-item">Camp Hero, Montauk NY</li>
                <li class="list-group-item">Bulowa Scout Reservation, NY</li>
                <li class="list-group-item">and the list is growing...</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="join_us_2">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="card">
            <h3 class="header header-primary">&nbsp;&nbsp;Ready to start on your next adventure?</h3>
            <div class="content">
              With Boy Scout troop <%= Rails.application.config.troop %>, we know the trail that will lead you there.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>