<div class="sidebar" data-active-color="dkblue" data-background-color="black">
  <div class="logo">
      <span class="simple-text">
        Troop Website
      </span>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <%= nav_link '<i class="material-icons">home</i><p>Home</p>'.html_safe, root_path %>
      <%= nav_link '<i class="material-icons">events</i><p>Calendar</p>'.html_safe, calendar_path %>
      <li>
        <a data-toggle="collapse" href="#scoutsBy">
          <i class="material-icons">dashboard</i>
          <p>Scout Management
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="scoutsBy">
          <ul class="nav">
           <li><%= nav_link '<i class="material-icons">face</i><p>Scouts</p>'.html_safe, scouts_path %></li>
           <li><%= nav_link '<i class="material-icons">flag</i><p>Patrols</p>'.html_safe, patrols_path %></li>
           <li><%= nav_link '<i class="fa fa-trophy" aria-hidden="true"></i><p>Ranks</p>'.html_safe, ranks_path %></li>
           <li><%= nav_link '<i class="fa fa-users" aria-hidden="true"></i><p>Positions</p>'.html_safe, positions_path %></li>
          </ul>
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#event_management">
          <i class="material-icons">events</i>
          <p>Event Management
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="event_management">
          <ul class="nav">
            <li><%= nav_link 'Add New Event', new_event_path %></li>
            <li><%= nav_link 'Add Scout to Event', new_scout_event_path %></li>
            <li><%= nav_link 'View all events', events_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
