<div class="sidebar" data-color="purple">
  <div class="logo">
      <span class="simple-text">
        Troop Website
      </span>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="<%= root_path %>">
          <i class="material-icons">home</i>
          <p>Home</p>
        </a>
          <a href="<%= scouts_path %>">
            <i class="material-icons">face</i>
            <p>Scouts</p>
          </a>
        <a href="<%= patrols_path %>">
          <i class="material-icons">flag</i>
          <p>Patrols</p>
        </a>
        <a href="<%= ranks_path %>">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <p>Ranks</p>
        </a>

        <a href="<%= positions_path %>">
          <i class="fa fa-users" aria-hidden="true"></i>
          <p>Positions</p>
        </a>
      </li>
    </ul>
  </div>
</div>
