<nav class="navbar navbar-dark navbar-fixed-top" style="background-color: #003F87;">
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" href="<%= root_path %>" id="site_logo">
      <img src="/assets/scout_sign.png" width="30" height="30" class="inverted d-inline-block align-top" alt="">
      Troop.Website
    </a>
    <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="view"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</a>
            <div class="dropdown-menu" aria-labelledby="view">
              <%= link_to 'Scouts', scouts_path, class: 'dropdown-item' %>
              <%= link_to 'Patrols', patrols_path, class: 'dropdown-item' %>
              <%= link_to 'Positions', positions_path, class: 'dropdown-item' %>
              <%= link_to 'Ranks', ranks_path, class: 'dropdown-item' %>
              <%= link_to 'Articles', articles_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="requirements"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Requirements</a>
            <div class="dropdown-menu" aria-labelledby="requirements">
              <%= link_to 'Scout', requirements_path(by_rank_id: 2), class: 'dropdown-item' %>
              <%= link_to 'Tenderfoot', requirements_path(by_rank_id: 3), class: 'dropdown-item' %>
              <%= link_to 'Second Class', requirements_path(by_rank_id: 4), class: 'dropdown-item' %>
              <%= link_to 'First Class', requirements_path(by_rank_id: 5), class: 'dropdown-item' %>
              <%= link_to 'Star', requirements_path(by_rank_id: 6), class: 'dropdown-item' %>
              <%= link_to 'Life', requirements_path(by_rank_id: 7), class: 'dropdown-item' %>
              <%= link_to 'Eagle', requirements_path(by_rank_id: 8), class: 'dropdown-item' %>
             </div>
          </li>
          <% if current_user.admin? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#"
                   id="responsiveNavbarDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown2">
                  <%= link_to 'Requirements', requirements_path, class: 'dropdown-item' %>
                  <%= link_to 'Categories', categories_path, class: 'dropdown-item' %>
                  <%= link_to 'Users', profiles_path, class: 'dropdown-item' %>
                  <%= link_to 'User Devise', admin_home_path, class: 'dropdown-item' %>
                </div>
              </li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav float-xs-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#"
               id="CurrentUser" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><%= gravatar_for current_user.email, size: 25 %>&nbsp;<%= current_user.username %></a>
            <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
              <%= link_to 'Profile', profile_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'Account', edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        </ul>
    <% else %>
        <ul class="nav navbar-nav float-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <%= link_to 'Log In', new_user_session_path %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <%= link_to 'Sign Up', new_user_registration_path %>
            </a>
          </li>
        </ul>
    <% end %>
  </div>
</nav>

<p/>
